/* Font Families*/
/* colours */
/* transitions */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-size: 16px;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.flex {
  display: flex;
}

.page-wrapper {
  width: 100%;
  max-width: 1300px;
  padding: 0px 15px;
  box-sizing: border-box;
  margin: 0 auto;
}

.main-content-wrapper {
  justify-content: space-between;
  align-items: center;
}

.button {
  background: #0096ff;
  color: #fff;
  transition: background-color 0.2s;
}
.button:hover {
  background-color: #36476c;
}

.main-nav-header {
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}
.main-nav-header__link {
  font-family: "Open Sans", sans-serif;
  color: #36476c;
  text-decoration: none;
}
.main-nav-header__link:hover {
  text-decoration: underline;
}
.main-nav-header__link.button {
  display: inline-block;
  padding: 15px 20px;
  border-radius: 5px;
  color: #fff;
}
.main-nav-header__link.button:hover {
  text-decoration: none;
}
.main-nav-header .nav-left a {
  margin-right: 20px;
}
.main-nav-header .nav-right a {
  margin-left: 20px;
}

.hero {
  width: 100%;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  height: calc(100vh - 120px);
  padding-top: 40px;
}
.hero h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  color: #36476c;
  font-size: 48px;
  text-align: center;
  margin-bottom: 20px;
}
.hero h1 span.bottom-half-h1 {
  position: relative;
  padding: 0px 10px;
  margin-top: 10px;
  display: inline-block;
}
.hero h1 span.bottom-half-h1:before {
  content: "";
  width: 100%;
  height: 55px;
  left: 0px;
  background: #cfe9ff;
  top: -2px;
  display: block;
  position: absolute;
  z-index: -1;
}

form.get-your-demo {
  margin-top: 50px;
}
form input[type=email] {
  display: inline-block;
  width: 400px;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
  border: none;
  background: #f5f5f8;
  border-radius: 3px;
  padding: 12px 10px 12px 20px;
  font-family: "Open Sans", sans-serif;
}
form button[type=submit] {
  background: #0096ff;
  color: #fff;
  margin-left: 20px;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  padding: 0px 20px;
  font-family: "Open Sans", sans-serif;
  cursor: pointer;
  transition: background-color 0.2s;
}
form button[type=submit]:hover {
  background-color: #36476c;
}
form .form-message {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-top: 30px;
}
form .form-message .green-check {
  color: #1fb141;
}
form .form-message .red-x {
  color: #df000f;
}

::placeholder {
  color: #a2abbe;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #a2abbe;
}

::-ms-input-placeholder {
  color: #a2abbe;
}
